@import "variables";
@import "../components/header/header";
@import "../components/navigation/navigation";
@import "../components/main-block/main-block";
@import "../components/footer/footer";

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #E5E5E5;
}
.main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #E5E5E5;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
