.main-block
    .main-block__header Купить ваучер
    .main-block__line
    .main-block__row
        .main-block__title Сумма ваучера (от ₽1 до ₽500 000)
        .main-block__title Валюта
    .main-block__row
        .main-block__sum ₽ 150 000 
        .main-block__info RUB, ₽
        button.main-block__button-polygon
            img(alt="icon" src="images/polygon.svg")
    .main-block__row
        .main-block__line1
        .main-block__line2

    .main-block__row
        .main-block__text Комиссия
        .main-block__text.main-block__text_bold 2.00%

    .main-block__row
        .main-block__text Сумма к оплате
        .main-block__text.main-block__text_color ₽ 153 000 
        .main-block__text.main-block__text_small .00


    button.main-block__button Купить ваучер
    .main-block__condition Нажимая на кнопку «Купить», Вы принимаете условия Пользовательского соглашения
        