.navigation {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  height: 740px;
  font-family: $main-font;
  padding-top: 60px;
  box-shadow: 8px 0px 16px rgba(0, 0, 0, 0.04);
  &__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    margin-left: 13px;
  }
  &__icon{
    margin-bottom:30px;
  }
  &__element {
    width: 300px;
    height: 48px;
    display: flex;
    flex-direction: row;
    padding-left: 51px;
    display: flex;
    align-items: center;
    background: #ffffff;
    border: 0;
    color: #334d6e;
    &:hover {
      background: rgba(16, 156, 241, 0.03);
      color: #109cf1;
    }
  }
  &__element_hover {
    background: rgba(16, 156, 241, 0.03);
    color: #109cf1;
  }
}
