.navigation
    button.navigation__element.navigation__element_hover
        img.navigation__icon(src="images/icon1.svg" alt="icon")
        span.navigation__text Купить ваучер 

    button.navigation__element
        img.navigation__icon(src="images/icon2.svg" alt="icon")
        span.navigation__text Активировать ваучер

    button.navigation__element
        img.navigation__icon(src="images/icon3.svg" alt="icon")
        span.navigation__text Мои ваучеры 

    button.navigation__element
        img.navigation__icon(src="images/icon4.svg" alt="icon")
        span.navigation__text История 
