.header
    img.header__logo(alt="icon" src="images/logo.svg")
    .header__info
        .header__contact
            .header__text Служба поддержки:
            .header__email support@voucher.com
        .header__person
            img.header__avatar(alt="icon" src="images/avatar.svg")
            .header__text-person 
                .header__name Андрей Балконский
                .header__status не верифицирован
            button.header__button
                img(alt="icon" src="images/arrow.svg")
