.footer
    .footer__links
        a.footer__link(href="") Пользовательское соглашение
        a.footer__link(href="") Оферта 
        a.footer__link(href="") AML
    .footer__pay
        a(href="")
            img.footer__icon(src="images/pci.svg" alt="icon")
        a(href="")
            img.footer__icon(src="images/card.svg" alt="icon")
        a(href="")
            img.footer__icon(src="images/visa.svg" alt="icon")
    .footer__languages
        a(href="").footer__lang.footer__lang_hover Eng
        a(href="").footer__lang Rus