doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="css/style.css")
        link(href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap" rel="stylesheet")
        title Buy Voucher 
    body
        .page-wrapper
            include components/header/header
            .main
                include components/navigation/navigation
                include components/content/content
                
